.wrap {
  min-height: 100vh;
  height: 100%;
  background: url('./img/mp_pc.png') no-repeat center center;
  background-size: cover;
  color: #fff;
}
.inner {
  
}
.content {
  /* position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  padding: calc(calc(100vh - 230px) / 2) 0;
  text-align: center;
}

/* --- maplestory logo --- */
.logo-name {
  display: block;
  font-family: var(--point-font);
  font-size: 24px;
}

/* --- 채널 선택 --- */
.recommend-server-box {
  margin: 40px 0 0;
}
.recommend-server-box > span {
  display: block;
  margin: 0 0 15px;
  font-size: 20px;
}

/* 채널 선택 버튼 */
.recommend-server-box .btn {
  width: 200px;
  height: 55px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--point);
  border-radius: 100px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}
.recommend-server-box .btn:hover {
  background: var(--point-dark);
}

/* 채널 결과 */
.server-result {
  font-family: var(--point-font);
  font-size: 50px;
  color: var(--point);
}

/* --- 다시 고르기 --- */
.undo-box {
  margin: 40px 0 0;
}
.undo-box .btn-undo {
  background: transparent;
  font-size: 14px;
  color: #777;
  cursor: pointer;
}
.undo-box .btn-undo:hover {
  opacity: 0.5;
}

/* ### RESPONSIVE ### */
@media (max-width: 768px) {
  .wrap {
    background-image: url(./img/mp_mobile.png);
  }
  .recommend-server-box > span {
    font-size: 18px;
  }
  .recommend-server-box .btn {
    width: 170px;
    font-size: 14px;
  }
}
@media (max-height: 230px) {
  .content {
    padding: 40px 0;
  }
}